<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div sec:authorize="hasRole('ADMIN')" class="bg-light p-3 mb-4">
    <div class="container d-flex justify-content-between">
        <a th:href="@{/user}" class="btn btn-outline-primary">User</a>
        <a th:href="@{/admin/users}" class="btn btn-outline-dark">Admin</a>
    </div>
</div>
<div class="container mt-5">
    <h1 class="text-center">Добро пожаловать, <span sec:authentication="name"></span>!</h1>

    <p class="lead">Ваши роли:
        <span th:each="auth, iterStat : ${#authentication.getAuthorities()}"
              th:text="${#strings.replace(auth.getAuthority(), 'ROLE_', '')} +
                  (${!iterStat.last} ? ', ' : '')">
    </span>
    </p>

    <h3 class="mt-5">Информация о пользователе:</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Email</th>
            <th>Роли</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.name}">User</td>
            <td th:text="${user.lastName}">Userov</td>
            <td th:text="${user.age}">24</td>
            <td th:text="${user.email}">user@mail.ru</td>
            <td>
                <span sec:authorize="hasRole('ADMIN')" th:text="'ADMIN'"></span>
                <span sec:authorize="hasRole('USER')" th:text="'USER'"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger btn-block">Logout</button>
    </form>
</div>

<div sec:authorize="!isAuthenticated()">
    <p>Пожалуйста, <a th:href="@{/login}">войдите</a>.</p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>